:root {
  --brown-color: #7b3306;
  --brown-light-color: #903b00;
  --white-color: #ffffff;
  --yellow-color: #fef3c6;
  --icon-color: #7b3306;
}
.brown-color {
  background-color: var(--brown-color);
}
.brown-light-color {
  background-color: var(--brown-light-color);
}
.white-color {
  background-color: var(--white-color) !important;
}
.font-brown-color {
  color: var(--brown-color) !important;
}
