:root {
  --brown-color: #7b3306;
  --brown-light-color: #903b00;
  --white-color: #ffffff;
  --yellow-color: #fef3c6;
  --gray-color: #364153;
}

.brown-color {
  background-color: var(--brown-color);
}
.brown-light-color {
  background-color: var(--brown-light-color);
}
.white-color {
  background-color: var(--white-color) !important;
}
.yellow-color {
  background-color: var(--yellow-color) !important;
}
.gray-color {
  color: var(--gray-color) !important;
}
.font-brown-color {
  color: var(--brown-color) !important;
}
